<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>one - login</title>

    <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/icons.css') }}>
    <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/font.min.css') }}>
    <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/theme.css') }}>

</head>

<body class="theme-indigo">

    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="card">
                        <div class="header">
                            <h3 class="w-100 text-center">
                                        <span class="clearfix title">
                                            <span class="number left">404</span>
                                            <span class="text">Oops! Page Not Found</span>
                                        </span>
                            </h3>
                        </div>
                        <div class="body">
                            <p>The page you were looking for could not be found, please <a href="javascript:void(0);">contact
                                us</a> to report this
                                issue.</p>
                            <div class="margin-top-30">
                                <a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-arrow-left"></i>
                                    <span>Go
                                                Back</span></a>
                                <a href="{{ url_for('front_end_views.login') }}" class="btn btn-primary"><i
                                        class="fa fa-home"></i> <span>Home</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="sticky-footer">
        <div class="my-auto" style="position: fixed;bottom: 0;left: 45%;">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; one 2022   蜀ICP备2021027913号</span>
            </div>
        </div>
    </footer>

<script src="{{ url_for('front_end_views.static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('front_end_views.static',filename='js/theme.js') }}"></script>
<script src="{{ url_for('front_end_views.static',filename='js/libscripts.bundle.js') }}"></script>
<script src="{{ url_for('front_end_views.static',filename='js/vendorscripts.bundle.js') }}"></script>
<script src="{{ url_for('front_end_views.static',filename='js/jquery.cookie-1.4.1.min.js') }}"></script>
</body>
</html>