<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{% block title %} one {% endblock %}</title>

        <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/icons.css') }}>
        <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/font.min.css') }}>
        <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/theme.css') }}>

        {% block custom_css %}{% endblock %}
</head>

<body class="theme-indigo">

    <!--top-->
    <nav class="navbar custom-navbar navbar-expand-lg py-2">
        <div class="container-fluid px-0">
            <a href="javascript:void(0);" class="menu_toggle"><i class="fa fa-align-left"></i></a>
            <div id="navbar_main">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-icon" href="javascript:void(0);" id="navbar_1_dropdown_3" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fa fa-user"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">User menu</h6>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-user text-primary"></i>My Profile</a>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-cog text-primary"></i>Settings</a>
                            <div class="dropdown-divider" role="presentation"></div>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-sign-out text-primary"></i>Sign
                                out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--menu-->
    <div class="main_content" id="main-content">
        <div class="left_sidebar">
            <nav class="sidebar">
                <ul id="main-menu" class="metismenu">
                    <li class="g_heading">Main</li>
                    <li><a href="{{ url_for('front_end_views.home') }}"><i class="ti-pencil-alt"></i><span>添加开支</span></a></li>
                    <li class="g_heading">echarts</li>
                    <li><a href="{{ url_for('front_end_views.show') }}"><i class="ti-pie-chart"></i><span>查看报告</span></a></li>
                    <li class="g_heading">history</li>
                    <li><a href="{{ url_for('front_end_views.history') }}"><i class="ti-pie-chart"></i><span>往期报告</span></a></li>
                </ul>
            </nav>
        </div>

        <!-- Content-->
        <div class="page">
            <div class="container-fluid">
                {%  block content %} {% endblock %}
            </div>
        </div>
    </div>


    <script src="{{ url_for('front_end_views.static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/theme.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/libscripts.bundle.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/vendorscripts.bundle.js') }}"></script>
    {% block custom_js %}{% endblock %}
</body>
</html>