{% extends 'base.html' %}
{% block title %} one - history - spending {% endblock %}


{% block content %}

    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h1 class="h4 text-gray-900 mb-4">历史记录</h1>
                </div>
                <div class="body" id="history">
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block custom_js %}
    <script>
        var history = document.getElementById("history");
        $(document).ready(function() {
            $.ajax({
            url: "{{ url_for('echarts_service.GetStatus') }}",
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                if (data.valueOf()['redirect_login']) {
                    alert('重新登录');
                    window.location.href = "{{ url_for('front_end_views.login') }}";
                } else {
                    for (var i=0; i<data.valueOf().length; i++){
                        console.log(data.valueOf()[i])
                        $("#history").html("<a href='{{ url_for('front_end_views.show') }}?status="
                            +data.valueOf()[i]+"'><button class='btn btn-success'>"
                            + data.valueOf()[i] + "</button></a>")
                    }
                }
            },
            error: function (e) {
                alert("添加失败！！");
            }
        })
        })
    </script>

{% endblock %}