<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>one - home</title>

    <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/all.min.css') }}>
    <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/googleapis.css') }} >
    <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/bootstrop.min.css') }} >
</head>

<body class="bg-gradient-primary">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">添加开支</h1>
                                    </div>
                                    <form class="user" onSubmit="return false;">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="title"
                                                   name="title"
                                                   placeholder="描述">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="price"
                                                   name="price"
                                                   placeholder="价格">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" onclick="checklogin()" class="btn btn-primary btn-user btn-block" value="添加">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="{{ url_for('front_end_views.static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/one.min.js') }}"></script>
    <script>
        function checklogin() {
            var price = $('#price').val();
            var title = $('#title').val();
            if (!price || !title) {
                alert('信息不能为空')
            } else if (price <= 0) {
                alert('md 填正数')
            } else {
                var Obj = {'price': price, 'title': title};
                console.log(Obj)
                $.ajax({
                    url: "{{ url_for('home_view.AddSpending') }}",
                    type: 'POST',
                    data: JSON.stringify(Obj),
                    contentType: 'application/json',
                    xhrFields: {
                        withCredentials: true //允许跨域带Cookie
                    },
                    success: function (data) {
                        console.log(data.valueOf());
                        if (data.valueOf()['redirect_login']) {
                            alert('重新登录')
                            window.location.href = "{{ url_for('front_end_views.login') }}";
                        } else if( !data.valueOf()['ok']) {
                            alert('添加失败：' + data.valueOf()['error_type'])
                        }
                        else {
                            alert('添加成功')
                        }
                    },
                    error: function (e) {
                        alert("添加失败！！");
                    }
                })
        }
    }
    </script>
</body>
</html>