{% extends 'base.html' %}
{% block title %} one - add-spending {% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/dataTables.bootstrap4.min.css') }} >
{% endblock %}



{% block content %}

    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card col-lg-12">
                <div class="header">
                    <h1 class="h4 text-gray-900 mb-4">开支流水</h1>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table mb-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>who</th>
                                    <th>title</th>
                                    <th>price</th>
                                    <th>start_time</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card">
                <div class="header">
                    <h2>折线图</h2>
                </div>
                <div class="body">
                    <div id="echarts_line" style="width: 400px;height:300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card">
                <div class="header">
                    <h2>饼图</h2>
                </div>
                <div class="body">
                    <div id="echarts_pie" style="width: 400px;height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block custom_js %}
    <script src="{{ url_for('front_end_views.static',filename='js/echarts.min.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script>

        (function ($) {
          $.getUrlParam = function (name) {
           var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
           var r = window.location.search.substr(1).match(reg);
           if (r != null) return unescape(r[2]); return '暂无';
          }
         })(jQuery);

    </script>
    <script>
        var status = $.getUrlParam('status');
        $(document).ready(function() {
            $('#dataTable').DataTable( {
                "ajax": "{{ url_for('echarts_service.ShowSpending') }}?status=" + status
            } );
        });
    </script>
    <script>
        var status = $.getUrlParam('status');
        var chartPie= document.getElementById('echarts_pie');
        var chartLine = document.getElementById('echarts_line');
        var charts = [];

        var myChart1 = echarts.init(chartPie);
        var option1;
        option1 = {
          tooltip: {
            trigger: 'item'
          },
          legend: {
            top: '5%',
            left: 'center'
          },
          series: [
            {
              name: 'Access From',
              type: 'pie',
              radius: ['40%', '70%'],
              avoidLabelOverlap: false,
              itemStyle: {
                borderRadius: 10,
                borderColor: '#fff',
                borderWidth: 2
              },
              label: {
                show: false,
                position: 'center'
              },
              emphasis: {
                label: {
                  show: true,
                  fontSize: '40',
                  fontWeight: 'bold'
                }
              },
              labelLine: {
                show: false
              },
            }
          ]
        };
        $.ajax({
                url: "{{ url_for('echarts_service.PieData') }}?status=" + status,
                type: 'GET',
                contentType: 'application/json',
                success: function (result_data) {
                    if (result_data.valueOf()['redirect_login']) {
                            alert('重新登录');
                            window.location.href = "{{ url_for('front_end_views.login') }}";
                    } else {
                        myChart1.setOption({
                            series: [
                                {
                                  name: 'Access From',
                                  type: 'pie',
                                  radius: ['40%', '70%'],
                                  avoidLabelOverlap: false,
                                  itemStyle: {
                                    borderRadius: 10,
                                    borderColor: '#fff',
                                    borderWidth: 2
                                  },
                                  label: {
                                    show: false,
                                    position: 'center',
                                    formatter:'{d}%'
                                  },
                                  emphasis: {
                                    label: {
                                      show: true,
                                      fontSize: '40',
                                      fontWeight: 'bold'
                                    }
                                  },
                                  labelLine: {
                                    show: false
                                  },
                                    data: result_data.valueOf()
                                }
                              ]

                        })
                    }
                },
                error: function (e) {
                    alert("失败！！");
                }
            })
        myChart1.setOption(option1);
        charts.push(myChart1)

        var myChart2 = echarts.init(chartLine);
        var option2;
        option2 = {
      title: {
        text: 'Stacked Line'
      },
      tooltip: {
        trigger: 'axis'
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
      },
      yAxis: {
        type: 'value'
      },
    };
        $.ajax({
        url: "{{ url_for('echarts_service.LineData') }}?status=" + status,
        type: 'GET',
        contentType: 'application/json',
        success: function (result_data) {
            if (result_data.valueOf()['redirect_login']) {
                    alert('重新登录');
                    window.location.href = "{{ url_for('front_end_views.login') }}";
            } else {
                myChart2.setOption({
                    legend: {
                        data: result_data['names']
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: result_data['dates']
                    },
                    series: result_data['series']
                });
            }
        },
        error: function (e) {
            alert("失败！！");
        }
    })
        myChart2.setOption(option2);
        charts.push(myChart2)

        window.onresize = function(){
            for(var i = 0; i < charts.length; i++){
                charts[i].resize();
            }
        };
    </script>
{% endblock %}