{% extends 'base.html' %}
{% block title %} one - add-spending {% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href={{ url_for('front_end_views.static',filename='css/dataTables.bootstrap4.min.css') }} >
{% endblock %}



{% block content %}

    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-9 col-md-9">
            <div class="card col-lg-12">
                <div class="header">
                    <h1 class="h4 text-gray-900 mb-4">本月开支</h1>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table mb-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>who</th>
                                    <th>title</th>
                                    <th>price</th>
                                    <th>start_time</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block custom_js %}
        <script src="{{ url_for('front_end_views.static',filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('front_end_views.static',filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable( {
                "ajax": "{{ url_for('home_view.ShowSpending') }}"
            } );
        });
    </script>
{% endblock %}